n8n/news_gen.json
{
    "createdAt": "2025-05-07T02:53:43.393Z",
    "updatedAt": "2025-05-20T23:55:05.000Z",
    "id": "Njwld7XoSiaqxdTl",
    "name": "My workflow",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -360,
          -65
        ],
        "id": "a91e62d8-2fb9-4184-a2d9-c24e8dd39214",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "query": "Orlando local technology news",
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-googlesearch.googleSearch",
        "typeVersion": 1,
        "position": [
          -140,
          -65
        ],
        "id": "500b9026-07ea-429b-9109-964580bffd05",
        "name": "Google Search",
        "alwaysOutputData": false,
        "credentials": {
          "googleSearchApi": {
            "id": "QVk2HiTeonHdS9aS",
            "name": "Google Search account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          80,
          -65
        ],
        "id": "28f40b48-0bd0-434a-bbe8-4b8e7638bfa1",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "url": "={{ $json.link }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          520,
          -40
        ],
        "id": "174eb4be-23ba-4f35-a7b0-c8ffb0752032",
        "name": "HTTP Request",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "extractionValues": {
            "values": [
              {
                "key": "body",
                "cssSelector": "body",
                "skipSelectors": "img, meta"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          740,
          -60
        ],
        "id": "d7abc893-8f7c-45fc-b892-a4ad9a4467cd",
        "name": "HTML"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=There is a technology news story in this HTML:\n {{ $json.body }}\nFind and extract the news story. Then write a concise summary with the highlights.  Present the highlights as a news story and not a summary.",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          960,
          -65
        ],
        "id": "a6850094-b913-4014-af11-967f890e6b4d",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "claude-3-7-sonnet-20250219",
            "cachedResultName": "Claude 3.7 Sonnet"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          828,
          155
        ],
        "id": "a26286ae-cbcf-4757-8b54-b4e849836737",
        "name": "Anthropic Chat Model1",
        "credentials": {
          "anthropicApi": {
            "id": "8FjOzbWUE3XekMuS",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2336e20c-c8e8-458e-b592-a294c52e0672",
                "name": "link",
                "value": "={{ $('Loop Over Items').item.json.link }}",
                "type": "string"
              },
              {
                "id": "d6baa38d-bfd0-4e8b-8921-9a2822000681",
                "name": "snippet",
                "value": "={{ $('Loop Over Items').item.json.title }}",
                "type": "string"
              },
              {
                "id": "05ce3299-cb70-457a-8b5b-84a7b0d9a6ee",
                "name": "summary",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1320,
          -60
        ],
        "id": "a7bdef31-6922-4e8f-9b8f-01f231af7488",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1b67ed85-e13e-47e0-9b50-80c34373b213",
                "name": "link",
                "value": "={{ $json.link }}",
                "type": "string"
              },
              {
                "id": "7717a066-2256-4033-b7d6-9bff834eb359",
                "name": "title",
                "value": "={{ $json.snippet }}",
                "type": "string"
              },
              {
                "id": "241c0352-d4c3-4869-832a-cba16f95602e",
                "name": "summary",
                "value": "={{ $json.summary }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          300,
          -160
        ],
        "id": "240b3515-3f73-428e-8285-217e33bcefe9",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "repository": {
            "__rl": true,
            "mode": "list",
            "value": ""
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          500,
          -280
        ],
        "id": "9fd9e427-4029-4b8e-b19c-045bdd2c4acb",
        "name": "GitHub",
        "webhookId": "b8e6fd11-a283-4c89-9010-8006f2ff5082"
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Google Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Search": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "dc55b2d8-7731-42f1-9101-fd362392e01b",
    "triggerCount": 1,
    "tags": []
  }
